# Configuração de Portas no Host
HTTP_PORT=80
DB_PORT_HOST=3306

# Configuração do Banco de Dados MariaDB
DB_HOST=db
DB_PORT=3306
DB_NAME=manutencao_sync
DB_USER=sync_user
DB_PASSWORD=sync_password
DB_ROOT_PASSWORD=root_password
